<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<form action="" method="post" role="form" id="form">
			<legend>Compromisos</legend>		
			<div class="checkbox">
			    <label>
			      <input type="checkbox"> Scrum master
			    </label>
			</div>	
			<div class="checkbox">
			    <label>
			      <input type="checkbox"> Dinamicos +
			    </label>
			</div>	
			<div class="checkbox">
			    <label>
			      <input type="checkbox"> Retrospectivas
			    </label>
			</div>	
			<div class="checkbox">
			    <label>
			      <input type="checkbox"> Aportes a los socios
			    </label>
			</div>	
			<div class="checkbox">
			    <label>
			      <input type="checkbox"> Check me out
			    </label>
			</div>	
			<button type="button" class="btn btn-primary" id="boton" >Actualizar</button>
		</form>
	</div>
</div>