<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<form action="/crearcompromiso" method="POST" role="form">
			<legend>Crear compromiso</legend>
		
			<div class="form-group">
				<label for="compromiso">Compromiso:</label>
				<input type="text" class="form-control" id="compromiso" name="compromiso" placeholder="Compromiso" required>
			</div>

			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
</div>